{{>layouts/header}}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Simple Board</h1>
    <hr />
    <p class="lead my-3">modify article</p>
  </div>
</div>
<form class="container" style="margin-left: 20px">
  {{#article}}
    <div class="form-group">
      <label for="title">제목</label>
      <input name="title" type="text" class="form-control" id="article-title" placeholder="제목을 입력하세요" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="content">내용</label>
      <textarea name="content" class="form-control" id="article-content" placeholder="내용을 입력하세요" rows="3">{{content}}</textarea>
    </div>
    <input type="hidden" id="article-id" value="{{id}}">
    <button type="button" class="btn btn-outline-dark" id="article-update-btn">제출</button>
  {{/article}}
</form>
<Script>
// article 객체 생성
var article = {
  // 초기화(이벤트 등록) 메소드
  init: function() {
    // 스코프 충돌 방지! (https://mobicon.tistory.com/189)
    var _this = this;
    // 생성 버튼 선택
    const createBtn = document.querySelector('#article-update-btn');
    // 생성 버튼 클릭 시, 동작 할 메소드를 연결!
    createBtn.addEventListener('click', _this.update);
  },
  // article 생성 메소드
  update: function() {
    // form 데이터를 JSON으로 만듬
    var data = {
      id: document.querySelector('#article-id').value,
      title: document.querySelector('#article-title').value,
      content: document.querySelector('#article-content').value,
    };
    // 데이터 생성 요청을 보냄
    // fetch(URL, HTTP_REQUEST)
    fetch('/test/api/articles/' + data.id, {
      method: 'PUT', // POST 방식으로, HTTP 요청.
      body: JSON.stringify(data), // 위에서 만든 폼 데이터(data)를 함께 보냄.
      headers: {
        'Content-Type': 'application/json',
      },
    }).then(function(response) { // 응답 처리!
      // 요청 성공!
      if (response.ok) {
        alert('게시글이 수정 되었습니다.');
        window.location.href = '/test/articles/' + data.id; // 해당 URL로 브라우저를 새로고침!
      } else { // 요청 실패..
        alert('게시글 수정에 문제가 생겼습니다.');
      }
    });
  },
};
// 객체 초기화
article.init();
</script>
{{>layouts/footer}}
