{{>layouts/header}}
<!-- jumbotron -->
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Simple Board</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in
      this post’s contents.</p>
    <br />
    <a href="/test/articles/new" class="btn btn-outline-light">글쓰기</a>
  </div>
</div>
<div style="margin: 0 20px">
  <h2>Section title</h2><br />
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col" style="padding: 10px">#</th>
          <th scope="col" style="padding: 10px">Title</th>
        </tr>
      </thead>
      <tbody>
        {{#articles}}
          <tr>
            <td style="padding: 10px; vertical-align: center">{{id}}</td>
            <td style="padding: 10px; vertical-align: center">
              <a href="/test/articles/{{id}}" class="nav-link px-2 text-muted">{{title}}</a>
            </td>
          </tr>
        {{/articles}}
      </tbody>
    </table>
  </div>
</div>
{{>layouts/footer}}