{{>layouts/header}}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Simple Board</h1>
    <hr />
    <p class="lead my-3">view details</p>
  </div>
</div>
<!-- table -->
<div style="margin: 0 20px">
  <table class="table table-hover table-sm">
    <tbody>
      {{#article}}
        <tr>
          <th style="padding: 15px">글번호</th>
          <td style="padding: 15px">{{id}}</td>
        </tr>
        <tr>
          <th style="padding: 15px">제목</th>
          <td style="padding: 15px">{{title}}</td>
        </tr>
        <tr>
          <th style="padding: 15px">내용</th>
          <td style="padding: 15px">{{content}}</td>
        </tr>
      {{/article}}
    </tbody>
  </table>
</div>
<div style="margin-left: 20px">
  <a class="btn btn-outline-dark" href="/test/articles/edit/{{id}}">수정</a>
  <button class="btn btn-outline-danger" style="margin-left: 10px" id="article-delete-btn">삭제</button>
  <a href="/test/articles" class="btn btn-outline-dark" style="margin: 0 10px"> 목록으로</a>
</div>
<br />
{{>comments/_comments}}
<Script src="/js/app/article.js"></script>
{{>layouts/footer}}